.header {
  padding: 10px;
  background-color: black;
  color: white;
  width: 100%;
}

.header h1 {
  font-size: 36px;
  font-weight: 700;
  padding-left: 30%;
}

.header h3 {
  padding-left: 30%;
  font-size: 18px;
  margin-top: -20px;
  color: #778899;
}

.btn {
  margin-top: 30px;
  position: relative;
  left: 30%;
  font-size: 36px;
  font-weight: 600;
  padding: 12px;
  width: 600px;
  color: white;
  background-color: 	rgb(64, 4, 107);
  border: none;
  border-bottom: 6px solid #663399;
}